.env
.venv/
__pycache__/
*.pyc
*.mp4
outputs/raw/*
outputs/processed/*
outputs/report/*
outputs/history/*
!outputs/raw/.gitkeep
!outputs/processed/.gitkeep
!outputs/report/.gitkeep
!outputs/history/.gitkeep
